.App {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .Clock {

        .Clock__image {
            height: 40vmin;
            pointer-events: none;
            will-change: transform;

            @media (prefers-reduced-motion: no-preference) {
                &.Clock__image--animation {
                    @keyframes App-logo-spin {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(360deg);
                        }
                    }

                    animation: App-logo-spin infinite 20s linear;

                    &.Clock__image--play {
                        animation-play-state: running;
                    }

                    &.Clock__image--pause {
                        animation-play-state: paused;
                    }
                }
            }
        }

        .Clock__time {

            .Time {
                position: relative;
                display: flex;
                justify-content: center;

                .Time__text-container {
                    padding: 16px;

                    .Time__text {
                        color: #6182fb;
                        font-size: 1.5em;
                        margin: 0;
                        cursor: pointer;
                    }
                }

                .Time__format-tip {
                    position: absolute;
                    top: -15px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    font-size: 1.1em;
                }

                .TimeFormat {
                    display: inline-flex;
                    padding: 3px;
                    border-radius: 10px;
                    background-color: darkslateblue;
                    font-size: 0.6em;
                    color: white;

                    .TimeFormat__example {
                        font-weight: bold;
                        padding: 0 4px;
                    }
                }
            }
        }

        .Clock__buttons {
            display: flex;
            justify-content: center;

            button {
                outline: none;
                background: none;
                border: none;
                font-size: 1em;
                cursor: pointer;

                &:hover {
                    transform: scale(1.2);
                }

                &.Clock__button--disabled {
                    cursor: unset;

                    &:hover {
                        transform: unset;
                    }
                }
            }
        }
    }
}
